.list-group-item {
  background-color: #08c9c0 !important;
  font-family: "Tinos", serif;
  list-style: none;
  border-radius: 0px !important;
  justify-content: center;
  text-align: center;
  width: 300px;
  font-size: 21px;
  height: 55px;
  margin-top: 10px;
  transition: all 0.2s ease-in-out;
}

.list-group-item:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px 5px #ff01ff;
  color: #ff01ff;
}

.list-group-item:hover .editBtn {
  visibility: visible;
}
