.date {
  color: #ff01ff;
  font-family: "Tinos", serif;
  font-size: 17px;
  padding: 10px;
  margin-bottom: 25px;
  align-items: center;
  justify-content: center;
}

#date {
  color: #08c9c0;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .date {
    color: #ff01ff;
    font-family: "Tinos", serif;
    font-size: 17px;
    padding: 10px;
    margin-bottom: 25px;
    align-items: center;
    justify-content: center;
    transform: translateY(-90px);
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .date {
    color: #ff01ff;
    font-family: "Tinos", serif;
    font-size: 17px;
    padding: 10px;
    margin-bottom: 25px;
    align-items: center;
    justify-content: center;
    transform: translateY(-95px);
  }
}
