button {
  background-color: #08c9c0;
  font-family: "Tinos", serif;
  border-color: #08c9c0;
}

button:hover {
  color: #ff01ff;
  box-shadow: 0px 0px 5px 2px #ff01ff;
}

button:focus {
  outline: none;
}
