.closeBtn {
  color: #ff01ff;
  margin-left: 200px;
  font-size: 20px;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .closeBtn {
    color: #ff01ff;
    margin-left: 200px;
    transform: translate(92px, -382px);
    font-size: 20px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .closeBtn {
    color: #ff01ff;
    margin-left: 200px;
    transform: translate(88px, -390px);
    font-size: 20px;
  }
}
