body {
  color: #ff01ff;
}

.form-text {
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
  color: #ff01ff;
  font-family: "Tinos", serif;
  font-size: 20px;
}

.title {
  font-family: "Tinos", serif;
  text-align: center;
}

form {
  font-family: "Tinos", serif;
  margin: auto;
}

.form {
  border-radius: 0px;
}

.signup {
  width: 25%;
  background: rgba(1, 19, 90, 0.8);
  padding: 20px;
  margin-top: 25%;
}

.formLabel {
  font-size: 16px;
}

.signupBtn {
  background-color: #08c9c0;
  font-size: 16px;
}

.loginBtn {
  background-color: #08c9c0;
  font-size: 16px;
}

.pageButton {
  background-color: transparent;
  color: #08c9c0;
  font-size: 16px;
  border: none;
  text-decoration: underline;
  float: right;
}

.byWho {
  transform: translate(250px, -70px);
  position: absolute;
  z-index: 100;
}

#description {
  margin-top: 30px;
  margin-left: 5px;
}

#newBug {
  height: 370px;
}

.nameFont {
  color: #08c9c0;
  font: 16px;
}
/* .joke {
  transform: translate(1180px, -580px);
  font-family: "Tinos", serif;
  width: 30%;
} */

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .signup {
    width: 75%;
    background: rgba(1, 19, 90, 0.8);
    padding: 20px;
    margin-top: 25%;
  }

  .submitBtn {
    transform: translate(-400px, 30px);
  }
}

@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
  .signup {
    width: 35%;
    background: rgba(1, 19, 90, 0.8);
    padding: 20px;
    margin-top: 25%;
  }
}
