body {
  color: #ff01ff;
}

.form-text {
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
  color: #ff01ff;
  font-family: "Tinos", serif;
  font-size: 20px;
}

.title {
  font-family: "Tinos", serif;
  text-align: center;
}

form {
  font-family: "Tinos", serif;
  margin: auto;
}

.form {
  border-radius: 0px;
  padding: 5px;
}

.signup {
  width: 25%;
  background: rgba(1, 19, 90, 0.8);
  padding: 20px;
  margin-top: 25%;
}

.formLabel {
  font-size: 16px;
}

.signupBtn {
  background-color: #08c9c0;
  font-size: 16px;
}

.loginBtn {
  background-color: #08c9c0;
  font-size: 16px;
}

.pageButton {
  background-color: transparent;
  color: #08c9c0;
  font-size: 16px;
  border: none;
  text-decoration: underline;
  float: right;
}

/* .joke {
  transform: translate(1180px, -580px);
  font-family: "Tinos", serif;
  width: 30%;
} */
