.editBtn {
  margin-left: 250px;
  transform: translateY(-25px);
  color: #ff01ff;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: auto;
  visibility: hidden;
}

.editBtn:hover .edit {
  visibility: visible;
  cursor: pointer;
}
